/* SEARCH DIRECTORY

  1. =NAV
  2. =CONTAINERS
  3. =IDEAS
  4. =NOTES
  5. =SUMMARY

*/

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 8fr;
}

/*
===NAV===
*/

/* Nav grid */
nav {
  display: grid;
  grid-template-rows: auto 50px;
  background-color: #383e56;
}

/* Nav buttons */
nav a {
  justify-self: center;
}
.home {
  justify-self: center;
  width: 100px;
  height: 30px;
  font-size: 20px;
  border: 1px solid white;
  background-color: transparent;
  transition: 0.5s ease;
  color: white;
}
.home:hover {
  cursor: pointer;
  border: none;
  background-color: white;
  transition: 0.5s ease;
  color: black;
}

/* Link to other notes */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: auto;
  padding-left: 10px;
}
.nav-links h1 {
  font-size: 20px;
  color: white;
}
.nav-links a {
  font-size: 16px;
  font-weight: bold;
  color: #a3d8f4;
  text-decoration: none;
}
.nav-links a:hover {
  transform: scale(1.01);
  text-decoration: underline;
}


/* 
===CONTAINERS=== 
*/

/* Container for inner and summary */
.outer-container {
  height: 97vh;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.5);
  transition: 0.7s ease;
}

/* Container for note and idea */
.inner-container {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.5);
  transition: 0.7s ease;
}
.inner-container-large {
  height: 96vh;
  transition: 0.7s ease;
}


/*
===IDEAS===
*/

/* Expandable idea area */
.idea {
  padding: 0 1em;
  width: 15%;
  height: 100%;
  overflow-y: auto;
  background-color: beige;
  transition: 0.7s ease;
  position: relative;
}
.idea-small {
  padding: 0;
  overflow: hidden;
  width: 0;
  transition: 0.7s ease;
}

/* Idea links */
.idea a {
  display: inline-block;
  text-decoration: none;
  color: #00008B;
  opacity: 0.9;
}
.idea a:hover {
  color: #00008B;
  opacity: 1;
  transform: scale(1.01);
  text-decoration: underline;
}
.idea strong, .idea em {
  padding-left: 1em;
}


/*
===NOTES=== 
*/

/* Idea collapsible button

Button is placed inside note area to 
not get clipped by overflow from idea area
*/
.idea-btn {
  position: absolute;
  border: none;
  width: 60px;
  height: 30px;
  border: 1px solid black;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transform: translateX(-100%) translateY(-40%);
  transition: 0.5s ease;
}
.idea-btn:hover {
  border: 1px solid white;
  transition: 0.5s ease;
  color: white;
  background-color: #4169E1;
}

/* Expandable note area */
.note {
  width: 85%;
  height: 100%;
  padding: 0 3em;
  overflow-y: auto;
  transition: 0.7s ease;
  border: 1px solid black;
  background-color: #f4f9f9;
}
.note-large {
  width: 100%;
  transition: 0.7s ease;
}


/* 
===SUMMARY=== 
*/

/* Summary collapsible button */
.sum-btn {
  position: absolute;
  border: none;
  width: 95px;
  height: 30px;
  left: 50%;
  border: 1px solid black;
  box-shadow: 0 1px 2px 1px rgba(0 ,0, 0, .3);
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s ease;
}
.sum-btn:hover {
  border: 1px solid white;
  transition: 0.5s ease;
  color: white;
  background-color: #228B22;
}

/* Expandable summary area */
.summary {
  width: 100%;
  height: 20vh;
  overflow-y: auto;
  transition: 0.7s ease;
}
.summary-small {
  height: 1vh;
  transition: 0.7s ease;
}