<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/note.css" type="text/css">
    <link rel="icon" href="#">
    <title>{{ page.title }}</title>
  </head>

  <body>

    <nav>
      <!-- Links to other files within same parent directory -->
      <div class="nav-links">
        <h1>{{ page.title }}</h1>
      </div>

      <!-- Back button-->
      <a href="{{ site.baseurl }}/">
        <button type="button" class="home">&#10094; Back</button>
      </a>
    </nav>

    <div class="outer-container">

      <div class="inner-container">

        <!-- Collapsible div for links to important texts in file -->
        <div class="idea">
        </div>
        
        <div class="note">
          <button type="button" class="idea-btn">Ideas</button>
          
          {{ content }}
    
        </div>
      </div>
      
      <!-- Collapsible div for blockquote -->
      <div class="summary">
        <button type="button" class="sum-btn">Summary</button>
      </div>
    </div>

    <script src="{{ site.baseurl }}/scripts/note.js"></script>
  </body>
</html>