/* SEARCH DIRECTORY

  1. =GLOBAL
  2. =CONTAINER
  3. =NAV
  4. =IDEAS
  5. =NOTES
  6. =SUMMARY

*/


/* 
===GLOBAL=== 
*/

.hide {
  display: none;
}

/* 
===CONTAINER=== 
*/

.outer-container {
  margin: 0 auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.5);
  transition: 1s ease;
}

/* Expandable container */
.inner-container {
  margin: 0 auto;
  height: 70vh;
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.5);
  transition: 1s ease;
}
.inner-container-large {
  height: 89vh;
}

/*
===NAV===
*/

/* Navigation grid */
.book-nav {
  height: 5vh;
  margin-bottom: 10px;
  border: 1px solid black;
}

/*
===IDEAS===
*/

/* Expandable idea area */
.idea {
  padding: 0 1em;
  width: 15%;
  height: 100%;
  overflow-y: auto;
  background-color: beige;
  transition: 1s ease;
  position: relative;
}
.idea-small {
  padding: 0;
  overflow: hidden;
  width: 0;
}

/* Idea links */
.idea a {
  z-index: 0;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.idea a:hover {
  transform: scale(1.05);
  color: blue;
}
.idea strong, .idea em {
  padding-left: 1em;
}

/*
===NOTES=== 
*/

/* Idea collapsible button

Button is placed inside note area to 
not get clipped by overflow from idea area
*/
.idea-btn {
  position: absolute;
  border: none;
  width: 60px;
  height: 30px;
  border: 1px solid black;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transform: translateX(-105%) translateY(-40%);
  transition: 0.3s ease;
}
.idea-btn:hover {
  transform: scale(1.1) translateX(-105%) translatey(-40%);
  border: 1px solid darkturquoise;
  transition: 0.3s ease;
  color: darkturquoise;
  background-color: white;
}

/* Expandable note area */
.note {
  width: 85%;
  height: 100%;
  padding: 0 3em;
  overflow-y: auto;
  transition: 1s ease;
  border: 1px solid black;
  background-color: #f4f9f9;
}
.note-large {
  width: 100%;
}

/* 
===SUMMARY=== 
*/

/* Summary collapsible button */
.sum-btn {
  position: absolute;
  border: none;
  width: 95px;
  height: 30px;
  left: 50%;
  border: 1px solid black;
  box-shadow: 0 1px 2px 1px rgba(0 ,0, 0, .3);
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s ease;
}
.sum-btn:hover {
  transform: scale(1.1) translateY(-50%); 
  border: 1px solid darkviolet;
  transition: 0.3s ease;
  color: darkviolet;
  background-color: white;
}

/* Expandable summary area */
.summary {
  width: 100%;
  height: 30vh;
  overflow-y: auto;
}
.summary-small {
  height: 0;
}